canvas
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	z-index:0;
}

#titleText
{
	position:absolute;
	width:100%;
	top:-10px;
	color:#FFF;
	font-size:28px;
	font-weight:bold;
	z-index:1;
	font-family:"Arial Black", Gadget, sans-serif;
}

#startText
{
	position:absolute;
	top:10px;
	text-align:center;
	width:100%;
	color:#FFF;
	font-size:80px;
	font-weight:bold;
	z-index:1;
	font-family:"Arial Black", Gadget, sans-serif;
}

#lapDiv
{
	position: absolute;
	top: 40px;
	left: 600px;
	text-align: left;
	color: #FFF;
	font-size: 20px;
	z-index: 1;
	font-family: "Arial Black", Gadget, sans-serif;
}

#selectScreen
{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	text-align:center;
	color:#000;
	font-size:40px;
	font-weight:bold;
	z-index:3;
	font-family:"Arial Black", Gadget, sans-serif;
	background-color:#FFF;
	height:600px;
}

#selectScreen form
{
	color:#000;
	font-size:24px;
	font-weight:bold;
	font-family:"Arial Black", Gadget, sans-serif;
}

